:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c62fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    ;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.secundario_botao {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_botao.secundario.botao {
    margin-top: 1em;
}

.container_aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container_titulo {
    font-size: 28px;
    font-weight: 700;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_caixa {
    margin: 0 6em;
}

.secundario_image {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao_texto {
    color: var(--cinza-secundario)
}

.secundario_botao {
    display: inline-block;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista_item {
    font-size: 30px;
    color: var(--branco-principal);

}

.rodape {
    text-align: center;
    padding: 2em 0;
    color: var(--cinza-secundario);
    padding: 2em 1em;
}

.rodape_logo {
    margin-bottom: 1em;
}

.lista_link {
    text-decoration: none;
}

.rodape_lista .lista_link a {
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape_lista {
    color: var(--branco-principal);
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}

.rodape_copyright {
    color: var(--cinza-secundario);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding-top: 1em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;


}

.lista_link a:hover {
    color: var(--botao-azul)
}

.container_botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo)
}